/* ============ Privacy Policy Page CSS ==========  */

/* .privacy-policy h2{
    margin-bottom: 1rem;
    font-weight: 400;
} */
/* .privacy-policy p{
    font-size: 18px;
    color: #222222;
    margin-bottom: 2rem;
    font-weight: 500;
} */
/* .privacy-policy ul li{
    color: #222222;
} */